# MySQL/MariaDB environment variables
MYSQL_USER = datastore_user
MYSQL_DATABASE = datastore
MYSQL_PASSWORD = CHANGEME
MYSQL_ROOT_PASSWORD = CHANGEME

# MongoDB environment variables
MONGO_INITDB_DATABASE = analytics
MONGO_INITDB_ROOT_USERNAME = root
MONGO_INITDB_ROOT_PASSWORD = CHANGEME

# Web application environment variables
WEB_AUTH_ADMIN_USER = admin
WEB_AUTH_ADMIN_PASSWORD = CHANGEME

# Host discovery environment variable
MYSQL_HOST=db_mysql
MONGO_HOST=db_mongodb
AUTH_HOST=svc_authentication