# !!! CHANGE ME !!!
## DB Passwords
MYSQL_PASSWORD=CHANGEME
MONGO_INITDB_ROOT_PASSWORD=CHANGEME

## Web app secrets
WEB_AUTH_ADMIN_PASSWORD=CHANGEME
AUTH_JWT_SECRET=CHANGEME
SESSION_SECRET=CHANGEME


# Things you MIGHT want to change if you know what you are doing
## Interval in seconds for the svc_analytics service to perform its task
ANALYTICS_INTERVAL_SECONDS=60

## Service host addresses
MYSQL_HOST_ADDR=db_mysql
MONGO_HOST_ADDR=db_mongodb
AUTH_HOST_ADDR=svc_authentication

## Service ports (does NOT change listening ports, only what is used to connect from other services)
MYSQL_PORT=3306
MONGO_PORT=27017
AUTH_PORT=8080


# Other environment variables
## MySQL/MariaDB environment variables
MYSQL_USER=datastore_user
MYSQL_DATABASE=datastore
MYSQL_RANDOM_ROOT_PASSWORD=true

## MongoDB environment variables
MONGO_INITDB_DATABASE=analytics
MONGO_INITDB_ROOT_USERNAME=root

## Web app environment variables
WEB_AUTH_ADMIN_USER=admin

## Authentication service environment variables
AUTH_DB_PATH=/data/auth.db
AUTH_TOKEN_TTL_SECONDS=3600
AUTH_BCRYPT_ROUNDS=12